#logo {
  /* height: 132px; */
  /* height: 100px;
  left: 63px;
  top: 25px; */
  font-family: "Unica One";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.items {
  font-family: "Unica One";
  font-style: normal;
  font-weight: 400;
  /* font-size: 24px; */
  font-size: 21px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

#user {
    /* width: 30px; */
    width: 28px;
    /* height: 30px; */
    height: 28px;
}

#shoppingbag {
    /* width: 27px; */
    width: 24px;
    /* height: 31.5px; */
    height: 30px;
}

@media only screen and (max-width: 576px) {
    #logo {
      font-family: "Unica One";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      }
      .items {
        font-family: "Unica One";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
      }
}